.centre{
				text-align:center;
				font-size:30px:
				}
				
.logo{
				height:;
				width:;
				}
.wrapper{
				display:grid;
				grid-template-columns:47% 47%;
				grid-column-gap:10px;
				grid-row-gap:10px;
				}

